## Lab03 - pandas
Name: Anh Kieu  
Class: CSCI 349 - Intro to Data Mining  
Semester: Spring 2021  
Instructor: Brian King

In [1]:
import sys
import numpy as np
import pandas as pd

#### 1) [P] Report the Python, Numpy and Pandas version numbers.

In [2]:
print(sys.version)
print(np.__version__)
print(pd.__version__)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
1.19.2
1.2.1

#### 2) [P] Now, show the result of pd.show_versions(). Write a comment in the cell about what this shows.

In [3]:
pd.show_versions()
# This command shows what packages and their version installed on the PC.

INSTALLED VERSIONS
------------------
commit           : 9d598a5e1eee26df95b3910e3f2934890d062caa
python           : 3.8.5.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.2.1
numpy            : 1.19.2
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 20.3.3
setuptools       : 52.0.0.post20210125
Cython           : 0.29.21
pytest           : 6.2.2
hypothesis       : None
sphinx           : 3.4.3
blosc            : None
feather          : None
xlsxwriter       : 1.3.7
lxml.etree       : 4.6.2
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.20.0
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : 1.3.2
fsspec           : 0.8.3
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.2
numexpr          : 2.7.2
odfpy            : None
openpyxl         : 3.0.6
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.5.2
sqlalchemy       : 1.3.21
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.51.2

#### 3) Explain the relationship between numpy and pandas. How are they tied together? How are they different? What core functionality does pandas add to numpy?

- Ref: McKinney, Python for Data Analysis 2nd ed.
- Pandas helps with the process of data cleaning and data manipulation. Pandas is often used in addition to numpy as numpy is a really quick and handy computing library with functions that deal with statistic or analysis, while pandas are more towards handling data and putting data into a concrete structure. As quoted from the book, "the biggest  difference is that pandas is designed for working with tabular or  heterogeneous data. NumPy, by contrast, is best suited for working with  homogeneous numerical array data." Thus, pandas adds to numpy in a way that pandas works better with handling large, heterogeneous data.

#### 4) [M] Compare and contrast Series and DataFrame

- Ref: https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html; McKinney, Python for Data Analysis 2nd ed.
- Series: **1-D** array-like object containing a sequence of **same data type** values with indices/labels.
- DataFrame: **2-D** labeled data structure with columns of **different data types**.

#### 5) [M] What are the data types that can be used to create a Series object in pandas?

Series object can contain any kind of dtype that numpy supports like numerical data types (int, float, ...) or string dtype...

#### 6) [M] What are the data structures that can be used to create a DataFrame object in pandas?

DataFrame can be created using Series, dictionaries, 1D ndarrays, lists, 2D array, or even another DataFrame

#### 7) [M] When creating a Series object, what role does the index parameter play? Does the index always need to be specified? If not, what happens?

Index is kind of like a label or an axis unit for Series. It does not need to be specified, and if not specified, it will be having values from [0, ... len(data) - 1]

#### 8) [M] Consider the copy() method of a DataFrame object. What is this method for? Explain the difference between a shallow copy and a deep copy of a DataFrame? Why would I use a shallow copy?

ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.copy.html  
This method is to make a copy of the dataframe. This will be a shallow copy. Shallow copy is creating a reference to the original object, thus, when we change the original object or the copy object, the changes are reflected in both objects. On the other hand, deep copy is making another copy, two objects are independent.  
We might want a shallow copy as we want to create another "view" of the object where we can modify the objects but through another mean (think of bank transaction and money in the account).

In [4]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

#### 9) [P] Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2". Do not show the result, only store the variables

In [5]:
scores_1 = pd.Series(scores_1, index = days)
scores_2 = pd.Series(scores_2, index = days)
print("scores_1:\n", scores_1)
print("scores_2:\n", scores_2)

scores_1:
 Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
dtype: float64
scores_2:
 Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
dtype: float64

#### 10) [P] Create a pandas DataFrame called scores that represents the above data. Show your data frame.

In [6]:
#ref : https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/
scores = pd.DataFrame([scores_1, scores_2], index = ["week_1", "week_2"])
scores

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

#### 11) [P] Append the following data to the end of scores. [8.5,8,9.75,9,8.25].

In [7]:
scores_3 = pd.Series([8.5, 8, 9.75, 9, 8.25], index = days, name = 'week_3')
scores = scores.append(scores_3)

In [8]:
scores

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  8.25

#### 12) [M] numpy and pandas have an ENORMOUS number of ways for selecting data.

- .at : Access a single value for a row/column label pair. For example, pair of (row, column)
- .iat : Access a single value for a row/column pair by integer position.
- .loc : Access a group of rows and columns by label(s) or a boolean array.
- .iloc : Integer-location based indexing

In [9]:
print(scores[0:1])
print("----")
print(scores.at["week_1", "Mon"])
print("----")
print(scores.iat[0,0])
print("----")
print(scores.loc['week_1'])
print("----")
print(scores.iloc[0])
print("----")
print(scores.Mon)
print(scores["Mon"])

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75
----
9.5
----
9.5
----
Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64
----
Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64
----
week_1    9.5
week_2    9.0
week_3    8.5
Name: Mon, dtype: float64
week_1    9.5
week_2    9.0
week_3    8.5
Name: Mon, dtype: float64

#### 13) [P] Show at least two different techniques to select scores for Tuesday using the string "Tue"

In [10]:
print("Method 1:")
print(scores["Tue"])
print("Method 2:")
print(scores.loc[:,"Tue"])

Method 1:
week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64
Method 2:
week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

#### 14) [P] Show how to retrieve the scores for Tuesday using the named attribute Tue

In [11]:
scores.Tue

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

#### 15) [P] Show at least three techniques to select scores for Wednesday using an integer. The return type can be either a DataFrame or a Series.

In [12]:
# ref: https://stackoverflow.com/questions/17193850/how-to-get-column-by-number-in-pandas
print("Method 1:")
print(scores.iloc[:, [2]])
print("Method 2:")
print(scores.iloc[:, 2:3])
print("Method 3:")
print(scores[scores.columns[2]]) # series object

Method 1:
          Wed
week_1   8.00
week_2  10.00
week_3   9.75
Method 2:
          Wed
week_1   8.00
week_2  10.00
week_3   9.75
Method 3:
week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

#### 16) [P] Select the data for the first week using the string "week_1". Your result should return a Series representing the scores for week 1.

In [13]:
scores.loc["week_1"]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

#### 17) [P] Select the data for the first week using the string "week_1". Your result should return a DataFrame, representing the subset of the scores DataFrame for week 1 only.

In [14]:
scores.loc[["week_1"]]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

#### 18) [P] Select the data for the first week using a slice

In [15]:
scores[0:1]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

#### 19) [P] Use .iloc to select Monday and Friday of the first and third week.

In [16]:
scores.iloc[[0,2], [0,4]]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  8.25

#### 20) [P] Repeat the previous exercise, but use the .loc selector. You should have the same result.

In [17]:
scores.loc[["week_1", "week_3"], ["Mon", "Fri"]]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  8.25

In [18]:
# Ref: HOW TO ITERATE? YA DON'T - https://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas

#### 21) [P] For each week, report how much each day's score for that week differed from the mean for the week.

In [19]:
# hints by Rafe B.
# df.mean(1) - mean of across the columns.
scores.sub(scores.mean(1), axis = 0)

        Mon   Tue   Wed   Thu   Fri
week_1  0.7 -0.05 -0.80  1.20 -1.05
week_2  0.4 -0.60  1.40  0.15 -1.35
week_3 -0.2 -0.70  1.05  0.30 -0.45

#### 22) [P] Report the maximum score for each week

In [20]:
for week, row in scores.iterrows():
    print(f"Max score of {week} is {row.max()}")

Max score of week_1 is 10.0
Max score of week_2 is 10.0
Max score of week_3 is 9.75

In [21]:
# Method 2:
scores.max(axis=1)

week_1    10.00
week_2    10.00
week_3     9.75
dtype: float64

#### 23) [P] For each week, report which day had the largest score

In [22]:
# ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.idxmax.html
for week, row in scores.iterrows():
    print(f"Day with max score of {week} is {row.idxmax()}")

Day with max score of week_1 is Thu
Day with max score of week_2 is Wed
Day with max score of week_3 is Wed

In [23]:
# Method 2:
scores.idxmax(1)

week_1    Thu
week_2    Wed
week_3    Wed
dtype: object

#### 24) [P] Report the week that had the highest total quiz score. Your answer should only be the name of the week from the index.

In [24]:
max_s = 0
max_week = ""
for week, row in scores.iterrows():
    if max_s < row.sum():
        max_s = row.sum()
        max_week = week
print(f"Week with highest sum: {max_week}")

Week with highest sum: week_1

#### 25) [P] Report the number of days of each week that had a score >= 9.25. Answer in a Series

In [25]:
# ref: https://stackoverflow.com/questions/34243194/filter-rows-of-pandas-dataframe-whose-values-are-lower-than-0
scores[scores >= 9.25].count(axis = 1)

week_1    2
week_2    1
week_3    1
dtype: int64

#### 26) [P] Report the average score for each week

In [26]:
scores.mean(axis = 1)

week_1    8.8
week_2    8.6
week_3    8.7
dtype: float64

#### 27) [P] Report the average score for each week with the lowest score for each week dropped. (REMEMBER â€“ NEVER hard code magic numbers. Your solution should work for any number of weeks, and any number of days per week!)

In [27]:
for week, row in scores.iterrows():
    avg = (row.sum() - row.min())/(len(row)-1)
    print(f"Avg score of {week} with dropped lowest score is {avg}")

Avg score of week_1 with dropped lowest score is 9.0625
Avg score of week_2 with dropped lowest score is 8.9375
Avg score of week_3 with dropped lowest score is 8.875

#### 28) [P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [28]:
scores*10

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  82.5